/* index.css or emailIndex.css */
.email-base-container{
  display: flex;
  flex-grow: 1 ;
  /* flex-direction: column; */
}
.email-index {
  padding-top: 45px;
  display: flex;
}
.email-index.collapsed {
}
/* When the nav is expanded, you need to apply different grid-template-columns
.email-index.nav-expanded {
width: 100%;
} */