/* index.css or emailIndex.css */
.email-base-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.email-index {
  flex-grow: 1;
  display: flex;
  padding-top: 45px;
  width: 100vw;
}
.email-index.collapsed {
}
/* When the nav is expanded, you need to apply different grid-template-columns
.email-index.nav-expanded {
width: 100%;
} */