.app-header {
  
  background-color: #F6F8FC;
  box-shadow: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
}

.brand-search-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.gmail-icon {
  width: 108.99px;
  height: 40px;
}