.email-list {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #ffffff;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 0;
    left: 0;
    grid-area: list; /* This positions the content in the 'content' grid area */
    color: black;
}
.email-list.expanded {
    height: 100%;
    width: 100%;
}
.email-list.collapsed {
    width: 70%;
}

.list-nav-bar.collapsed:hover ~ .email-list.expanded {
    width: 100%;
}