.email-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    left: 0;
    grid-area: list; /* This positions the content in the 'content' grid area */
    color: black;
    overflow: auto; /* This sets the overflow to auto, which allows the list to scroll if it is too long */;
}
