/* index.css or emailIndex.css */

.email-index {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav content content"
    "nav footer footer";
    grid-template-columns: minmax(150px, 1fr) 1fr 20fr;
    grid-template-rows: auto 1fr;
    height: calc(100vh - var(--header-footer-height)); /* Adjust the var value accordingly */
    padding-top: 64px; /* Adjust to the height of your AppBar */
    z-index: 1; /* Lower than AppBar but above default */
}
  