.list-nav-bar.expanded {
      grid-area: nav;
      flex-direction: column;
      transition: width 0.5s; /* Smooth transition for width change */
      /* Add additional styling here (e.g., background color) */
        background-color:#F6F8FC;
        border-radius: 10px;
        height: calc(100vh - 8vh);
        /* Add additional styling here */    
}

.list-nav-bar.collapsed {
    grid-area: nav;
    /* Styles for the collapsed nav-bar */
    background-color:#F6F8FC;
    overflow: hidden;
    transition: height 0.3s ease;
    width: 70px;
    height: calc(100vh - 8vh);
    border-radius: 10px;
}
  
.list-nav-bar-container{
    grid-area: nav;
    flex-direction: column;
    gap: 10px;
}

