.list-nav-bar.expanded {
  grid-area: nav;
  display: flex;
      position: absolute;
      flex-direction: column;
      transition: width 0.5s; /* Smooth transition for width change */
      /* Add additional styling here (e.g., background color) */
        background-color:#F6F8FC;
        border-radius: 10px;
        height: 90%;
        /* Add additional styling here */    
}
.list-nav-bar.collapsed {
  position: absolute;
  grid-area: nav;
    display: flex;
    height: 90%;
    flex-direction: column;
    transition: width 0.5s, height 0.3s ease; /* Combine both transitions */
    background-color: #F6F8FC;
    border-radius: 10px;
    width: 70px;
    overflow: hidden;
}
  
.list-nav-bar-container{
    grid-area: nav;
    flex-direction: column;
}
