.list-nav-bar-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.compose-button-container{
  display: flex;
  margin-bottom: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 0px;
  align-items: center;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 0px;
}
.list-nav-bar.expanded {
  display: flex;
  transition: width 0.5s;
  background-color:#F6F8FC;
  border-radius: 10px;
  height: 100%;
}
.list-nav-bar.expanded,
.list-nav-bar.collapsed:hover {
  width: 250px;
  color: gray;
}
.list-nav-bar.collapsed {
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: width 0.5s, height 0.3s ease;
    background-color: #F6F8FC;
    border-radius: 10px;
    width: 70px;
    overflow: hidden;
}
  

.list-compose-button-collapsed{
    display: none;
}